.post{
    padding: 15px;
}

.post .title{
    font-size: 30px;
    color: #333;
}

.post .date{
    display: block;
    color: gray;
    margin-top: 5px;
}

.post .articleText{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}

/* Estilos de boton "leer más" */
.buttonMore{
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 15px;

    background: #ff990b;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    float: auto;
}
